<h1>Halloween Movies in Alphabetical Order</h1>
<h3><%= link_to 'Back to All Halloween Movies', halloween_movies_path %></h3>
<table>
  <% @halloween_movies.each do |halloween_movie| %>
    <tr>
      <th><%= link_to halloween_movie.title, halloween_movie_path(halloween_movie.id) %></th>
      <th><%= image_tag(url_for(halloween_movie.image), style: 'height:25vw;width:20vw') %></th>
    </tr>
  <% end %>
</table>
<%= paginate @halloween_movies %>
