<h1><%= @halloween_movie.title %></h1>
<h3><%= link_to 'Back to All Halloween Movies', halloween_movies_path %></h3>
<p><%= image_tag(url_for(@halloween_movie.image), style: 'height:35vw;width:28vw') %></p>
