<header>
  <h1><%= @halloween_movie.title %></h1>
  <div>
    <h3><%= link_to 'Back to All Halloween Movies', halloween_movies_path %></h3>
    <h3><%= link_to 'Home', home_path %></h3>
  </div>
</header>
<p><%= image_tag(url_for(@halloween_movie.image), style: 'height:35vw;width:28vw') %></p>
